.blog {
  border: 2px solid black;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

#back-button {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* title of page */
h1 {
  font-size: 25px;
  border-bottom: 10px double black;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* end of page */
footer {
  text-align: center;
  font-size: 15px;
}

ul li {
  list-style-type: none;
}

/* blog post */
.text,
.posted-by,
.title {
  padding: 5px;
  margin: 3px;
}
.text {
  margin-top: auto;
}

.posted-by {
  font-style: italic;
}

.title {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.delete-button {
  background-color: orange;
  color: black;
  width: 5%;
  margin: 3px 3px 3px 3px;
}
/* Dark/Light Mode Button */
#mode-toggle {
  position: absolute;
  top: 20px;
  right: 70px;
}

body.dark-mode {
  background-color: #000000;
  color: #fff;
}

body.dark-mode .blog {
  border: 2px solid #ffac05;
}

body.dark-mode .title {
  border-bottom: 1px solid #ffac05;
}

body.dark-mode h1 {
  color: #ffac05;
  border-bottom: 10px double #ffac05;
}

body.dark-mode a {
  color: yellow;
}
