.blog {
  border: 2px solid black;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

#backButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

/* title of page */
h1 {
  font-size: 25px;
  border-bottom: 10px double black;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* end of page */
footer {
  text-align: center;
  font-size: 15px;
}

ul li {
  list-style-type: none;
}

/* blog post */
.text {
  margin-top: auto;
}

.posted-by {
  font-style: italic;
}

.title {
  font-weight: bold;
  border-bottom: 1px solid black;
}

/* Dark/Light Mode Button */
#mode-toggle {
  position: fixed;
  top: 20px;
  right: 60px;
}

body.dark-mode {
  background-color: #000000;
  color: #fff;
}

body.dark-mode .blog {
  border: 2px solid #ffac05;
}

body.dark-mode .title {
  border-bottom: 1px solid #ffac05;
}

body.dark-mode h1 {
  color: #ffac05;
  border-bottom: 10px double #ffac05;
}
